<aside class="left">
  <div class="nav-header">
    <label for="reset" class="nav-button left">
      <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
      </svg>
    </label><span class="title">
      아즈인포
    </span>
  </div>
  <ul class="aside-menu">
    <a href="https://p.eagate.573.jp/gate/p/login.html">
      <li>
        <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z"/>
        </svg><!--
     --><span class="label">
          로그인
        </span>
      </li>
    </a>
  </ul>
</aside>
